# Homework â„–1

First, I import numpy and pandas libraries

In [3]:
import numpy as np
import pandas as pd

**Question 1: Version of NumPy**

In [2]:
np.__version__

'1.16.5'

**Question 2: Number of records in the dataset**

download dataset

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

Dataset description shows the number of records

In [9]:
df.describe().round(2)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.00,11845.00,11884.00,11908.00,11914.00,11914.00,11914.00,11914.00
mean,2010.38,249.39,5.63,3.44,26.64,19.73,1554.91,40594.74
std,7.58,109.19,1.78,0.88,8.86,8.99,1441.86,60109.10
min,1990.00,55.00,0.00,2.00,12.00,7.00,2.00,2000.00
25%,2007.00,170.00,4.00,2.00,22.00,16.00,549.00,21000.00
50%,2015.00,227.00,6.00,4.00,26.00,18.00,1385.00,29995.00
75%,2016.00,300.00,6.00,4.00,30.00,22.00,2009.00,42231.25
max,2017.00,1001.00,16.00,4.00,354.00,137.00,5657.00,2065902.00

**Question 3: The most popular car manufacturers**

In [46]:
df.groupby("Make").count().sort_values(['Model'], ascending=False).head(3)

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Chevrolet,1123,1123,1123,1117,1121,1123,1123,1123,622,1123,1123,1123,1123,1123,1123
Ford,881,881,881,868,881,881,881,881,499,881,881,881,881,881,881
Volkswagen,809,809,809,809,805,809,809,809,585,809,809,809,809,809,809

**Question 4: Number of unique Audi car models**

In [81]:
df.groupby(["Make"])["Model"].nunique()

Make
Acura            18
Alfa Romeo        1
Aston Martin     12
Audi             34
BMW              39
Bentley          18
Bugatti           1
Buick            20
Cadillac         30
Chevrolet        63
Chrysler         19
Dodge            33
FIAT              5
Ferrari          14
Ford             51
GMC              30
Genesis           1
HUMMER            2
Honda            21
Hyundai          22
Infiniti         38
Kia              16
Lamborghini       6
Land Rover       11
Lexus            46
Lincoln          16
Lotus             5
Maserati          8
Maybach           3
Mazda            31
McLaren           4
Mercedes-Benz    40
Mitsubishi       22
Nissan           32
Oldsmobile       18
Plymouth         10
Pontiac          20
Porsche          12
Rolls-Royce      10
Saab              8
Scion             8
Spyker            1
Subaru           16
Suzuki           16
Tesla             1
Toyota           39
Volkswagen       31
Volvo            26
Name: Model, dtype: int64

**Question 5: Number of columns with missing values**

In [86]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

**Question 6: Does the median value change after filling missing values?**

Median value of "Engine Cylinders" column in the dataset

In [124]:
df["Engine Cylinders"].median()

6.0

The most frequent value of the same "Engine Cylinders"

In [157]:
frequent = df["Engine Cylinders"].mode()
frequent

0    4.0
dtype: float64

Fill the missing values in "Engine Cylinders" with the most frequent value

In [160]:
filled_df = df["Engine Cylinders"].fillna(value = int(frequent))
filled_df.isnull().sum()

0

Calculate the median value of "Engine Cylinders" once again

In [161]:
filled_df.median()

6.0

**Question 7: Value of the first element of w**

Select Lotus cars and drop duplicates

In [100]:
lotus = df[df['Make'] == 'Lotus']
unique_lotus = lotus[["Engine HP","Engine Cylinders"]].drop_duplicates()

Make numpy array X, compute matrix-matrix multiplication between the transpose of X and X, and invert

In [120]:
X = unique_lotus.to_numpy()
XTX = np.matmul(X.T, X)
XTX_inv = np.linalg.inv(XTX)

array([  4.59494481, -63.56432501])

Create an array y, multiply the inverse of XTX with the transpose of X, and then multiply the result by y.<br>
Call the result w.

In [162]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.matmul(np.matmul(XTX_inv, X.T), y)
w

array([  4.59494481, -63.56432501])